<form id="photo">
<label for="photo_url">URL</label>
<input id="photo_url" type="text" name="url">

<label for="photo_title">Title</label>
<input id="photo_title" type="text" name="title">

<input type="submit" value="Add Photo">
</form>